.topbar {
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  top: 0;
  z-index: 999;
}
.topbarWrapper {
  height: 100%;
  padding: 0 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.logo {
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: rgb(107, 63, 9);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

/* styling search bar */
.search input[type="text"] {
  width: 200px;
  height: 30px;
}

.search {
  float: right;
  margin: 20px;
}

.search button {
  float: right;
  padding: 0px 5px 6px;
  margin-right: 20px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.topAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
