.container1 {
  margin: 30px;
  padding: 20px;
  width: 600px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.tableHeader {
  margin-bottom: 20px;
  margin-left: 15px;
}

.image {
  width: 70px;
  height: 50px;
  margin-left: 10px;
}
.buttonClass {
  margin-top: -45px;
}
.button {
  margin-bottom: 15px;
  margin-left: 490px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: orange;
  font-size: 16px;
  font-weight: bold;
}

.button.active,
.button:hover {
  background-color: rgb(236, 231, 229);
}
